@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --cyan-with-opacity: hsl(178, 100%, 50%, .4);
    --main-bg-color: hsl(217, 54%, 11%);
    --card-bg-color: hsl(216, 50%, 16%);
    --line-color: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    line-height: 1.5;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 33rem;
    width: 19.5rem;
    background-color: var(--card-bg-color);
    color: var(--soft-blue);
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    gap: 1.1rem;
    border-radius: 0.8rem;
}

.card-image-container > img {
    border-radius: 0.4rem;
}

.card-status {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card-image-container {
    height: 51%;
    margin-top: 1.3rem;
    position: relative;
}

.card-image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
}

.card-content > h1 {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 600;
}

.card-content > p {
    font-weight: 200;
}

.avatar-container {
    width: 1.9rem;
    height: 1.9rem;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.avatar-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-footer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card-item {
    width: 85%;
}

hr {
    color: var(--line-color);
    background-color: var(--line-color); /* for chrome */
    border-color: var(--line-color); /* for chrome */
    border-style: solid; 
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-content > h1:hover, [creator-name]:hover {
    color: var(--cyan);
    cursor: pointer;
}

.card-image-container:hover .overlay {
    opacity: 1;
    background-color: var(--cyan-with-opacity);
}



[eth-balance] {
    color: var(--cyan);
    font-weight: 600;
    font-size: 0.9rem;
}

[eth-balance]::before {
    content: url('images/icon-ethereum.svg');
    margin-right: 0.4rem;
}

[remaining-time] {
    font-size: 0.9rem;
}

[remaining-time]::before {
    content: url('images/icon-clock.svg');
    font-weight: 600;
    margin-right: 0.4rem;
}

[creator-name] {
    font-weight: 400;
    color: var(--white);
}

[credits] {
    font-size: 0.9rem;
}

.attribution {
    color: var(--white);
    position: absolute;
    bottom: 0;
    right: 0;
}

.attribution a {
    color: var(--cyan);
}

@media screen and (max-width: 375px) {
    .card {
        height: 80%;
        width: 90%;
    }
}